<!-- Include Head -->
<%- include("./headerLogueado") %> 
	

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Editar mi perfil</h2>
				<p><%=usuario.lista[3].nombre%></p>
				<p><%=usuario.lista[3].apellido%></p>
				<p><%=usuario.lista[3].dni%></p>
				<p><%=usuario.lista[3].email%></p>
			</div>
			<!-- Show the "ultimos" products -->
		</div>	
	</div>

	<!--Formulario de edicion de datos de perfil  -->
	<main class="main-registro">
		<div class="div-registro">
			<form class="form-register" action="/usuarios/perfil-edit/perfilStore" method="POST" enctype="multipart/form-data">
				<div>
					<label> Editar Nombre: </label>
					<input type="text" name="name" value="">
				</div>
				<div>
					<label>Editar Email:</label>
					<input type="mail" name="mail" value="">
				</div>
				<div>
					<label>Editar Contraseña:</label>
					<input type="text" name="password" value="">
				</div>
				<div>
					<label>Editar Fecha de Nacimiento:</label>
					<input type="date" name="fecha_de_nacimiento" value="">
				</div>
				<div>
					<label>Editar Número de Documento:</label>
					<input type="number" name="documento" value="">
				</div>
				<div>
					<label>Cambiar Foto de Perfil:</label>
					<input type="file" name="avatar" value="">
				</div>
				<button type="submit">Enviar</button>
			</form>
		</div>
	</main>
<!--Formulario de edicion de datos de perfil  -->	



	<!-- footer -->
	<footer class="main-footer">
		<div class="container">
			<div class="row">
				<div class="col-12 col-lg-4">
					<article class="footer-data">
						<i class="fas fa-credit-card"></i>
						<h2>Pagá con tarjeta o en efectivo</h2>
						<p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago.
							¡Y
							siempre es seguro!</p>
					</article>
				</div>
				<div class="col-12 col-lg-4">
					<article class="footer-data">
						<i class="fas fa-gift"></i>
						<h2>Envío gratis desde $ 1.999</h2>
						<p>Solo por estar registrado en Mercado Liebre tenés envíos gratis en miles de productos. Es un
							beneficio de Mercado Puntos.</p>
					</article>
				</div>
				<div class="col-12 col-lg-4">
					<article class="footer-data">
						<i class="fas fa-user-shield"></i>
						<h2>Seguridad, de principio a fin</h2>
						<p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás
							siempre protegido.</p>
					</article>
				</div>
			</div>
		</div>
	</footer>
	<!-- /footer -->
</body>

</html>